{#{% extends 'base.html.twig' %}#}
{% block carousel %}{% endblock %}
{% block title %}Liste des events{% endblock %}
{% block body %}


	{{ form_start(recherche) }}

	{{ form_widget(recherche.recherche, {
	attr: {
		placeholder: "Recherchez un article"
	}
	})}}

	<button type="submit" class="btn btn-primary mt-2">Recherchez</button>

	{{ form_end(recherche) }}

	<h1 class="text-center my-3 mt-3">Liste des events</h1>
	<div class="row">

		{% for events in events %}

			<div class="col-md-4">
				<div class="card mb-4" style="width: 18rem;">
					<h3 class="card-header">{{ events.nom }}</h3>
					<img src="{{ asset('images/events/' ~ events.image) }}" alt="" class="img-fluid">
					<div class="card-body text-center  ">
						<a href="{{ path('app_show', {'id': events.id}) }}" class="card-link btn btn-primary">Voir plus</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<p>test</p>
{% endblock %}
